In [108]:
import pandas as pd
import numpy as np
import pickle
import random
from tqdm import tqdm
import pprint

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# npois = 29071
# nspus = 179778

npois = 29924
nusers = 200000
# nspus = 195244

In [109]:
def sparseFeature(feat, feat_num, embed_dim=4):
    return {'feat': feat, 'feat_num': feat_num, 'embed_dim': embed_dim}


def denseFeature(feat):
    return {'feat': feat}

In [110]:
datapath = "../data/SMP新数据-20210607-20210702/"
d_session = pd.read_csv(datapath+"orders_poi_session.txt", sep='\t')
poi_train = pd.read_csv(datapath+"orders_train.txt", encoding="utf-8", sep='\t')
spu_train=pd.read_csv(datapath+"orders_spu_train.txt", encoding="utf-8", sep='\t')
poi_test = pd.read_csv(datapath + "orders_test_poi.txt", encoding="utf-8", sep='\t')
pois=pd.read_csv(datapath + "pois.txt", encoding="utf-8", sep='\t')
spus=pd.read_csv(datapath + "spus.txt", encoding="utf-8", sep='\t')
users=pd.read_csv(datapath + "users.txt", encoding="utf-8", sep='\t')

In [111]:
users.head()

   user_id avg_pay_amt avg_pay_amt_weekdays avg_pay_amt_weekends
0        0     [36,49)              [36,49)              [36,49)
1        1     [29,36)              [29,36)                  <29
2        2        >=65                 >=65                 >=65
3        3         <29                  <29                  <29
4        4     [29,36)              [29,36)                   未知

In [112]:
pois.head()

,wm_poi_id,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
0,0.0,e22575-9c1285-8a1981-ac1915-581787-893564-2915...,0,0,0,0.0,10.0,4.84,5.00,4.86
1,1.0,c91218-f02326-163545-bf1971-49263-952431-78332...,0,0,0,1.0,7.0,4.67,4.81,4.68
2,2.0,1e3493-15577-c93436-ac1915-ca2776-29510-32594-...,1,未知,1,2.0,6.0,4.82,5.00,5.00
3,3.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,7.0,4.83,4.96,4.84
4,4.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,5.0,4.91,5.00,4.93

In [113]:
spus.head()

,wm_food_spu_id,wm_food_spu_name,price,category,ingredients,taste,stand_food_id,stand_food_name
0,0,833366-bf3929-254096,26.0,[0],"[0, 1, 2]",[0],0.0,833366-bf3929-254096
1,1,032521-a0772-3f3352,20.0,[1],"[3, 1]",[1],1.0,032521-a0772-3f3352
2,2,952431-c52358-c22123-7f760-832660-fe1862,18.0,[2],"[3, 1, 4, 5, 6, 7]",[2],2.0,952431-c52358-c22123-7f760-832660
3,3,e84149-6b1215-ca2776-441372-b5649-ac1915-f4338...,10.0,[3],"[8, 9]",[0],3.0,e84149-6b1215-ca2776-441372
4,4,6b1215-c9725-862243-102951-1f1116,3.58,[4],NaN,NaN,NaN,NaN

In [114]:
d_session.head()

   wm_order_id                    clicks        dt
0         1103                 2168#1884  20210607
1        24171                       NaN  20210607
2        27913            1371#1494#3518  20210607
3        24875  1901#1901#1901#1901#2398  20210607
4        23149                       NaN  20210607

In [115]:
poi_train.head()

,user_id,wm_order_id,wm_poi_id,aor_id,order_price_interval,order_timestamp,ord_period_name,order_scene_name,aoi_id,takedlvr_aoi_type_name,dt
0,178557,0,2334,6,<29,1623061539,3,0,NaN,未知,20210607
1,175118,1,3315,0,<29,1623032193,1,1,0.0,0,20210607
2,36208,2,2168,0,<29,1623036350,1,0,1.0,0,20210607
3,102798,3,3071,0,"[29,36)",1623071723,4,0,2.0,0,20210607
4,73712,4,2902,0,"[49,65)",1623020472,0,2,3.0,1,20210607

# 商家分析

In [116]:
pois.head()

,wm_poi_id,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
0,0.0,e22575-9c1285-8a1981-ac1915-581787-893564-2915...,0,0,0,0.0,10.0,4.84,5.00,4.86
1,1.0,c91218-f02326-163545-bf1971-49263-952431-78332...,0,0,0,1.0,7.0,4.67,4.81,4.68
2,2.0,1e3493-15577-c93436-ac1915-ca2776-29510-32594-...,1,未知,1,2.0,6.0,4.82,5.00,5.00
3,3.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,7.0,4.83,4.96,4.84
4,4.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,5.0,4.91,5.00,4.93

In [117]:
pois.isna().sum()

wm_poi_id                         1
wm_poi_name                    1524
primary_second_tag_name        1524
primary_third_tag_name         1524
primary_first_tag_name         1524
poi_brand_id                  10514
aor_id                         1524
poi_score                      2033
delivery_comment_avg_score     2033
food_comment_avg_score         2033
dtype: int64

In [118]:
pois.loc[pois["wm_poi_id"].isna()]

,wm_poi_id,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
29924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

共计1353个品牌。

In [119]:
pois.drop(index=29924,inplace=True)

In [120]:
pois.describe()

,wm_poi_id,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
count,29924.000000,19411.000000,28401.000000,27892.000000,27892.000000,27892.000000
mean,14961.500000,153.902272,207.730749,3.913871,4.100537,3.475916
std,8638.459064,278.167496,400.040860,1.740303,1.816807,2.054673
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7480.750000,1.000000,19.000000,4.370000,4.760000,0.000000
50%,14961.500000,1.000000,68.000000,4.680000,4.910000,4.640000
75%,22442.250000,180.500000,169.000000,4.820000,5.000000,4.800000
max,29923.000000,1352.000000,2285.000000,5.000000,5.000000,5.000000

商家编号从0到29923共29924个。

注意到很多商家并没有品牌。需要给它们补一类空品牌。

In [121]:
pprint.pprint(pois.poi_brand_id.unique())

array([0.000e+00, 1.000e+00, 2.000e+00, ..., 1.350e+03, 1.351e+03,
       1.352e+03])

In [122]:
pois.poi_brand_id.fillna(value=-1,inplace=True)

In [123]:
pois.describe()

,wm_poi_id,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
count,29924.000000,29924.000000,28401.000000,27892.000000,27892.000000,27892.000000
mean,14961.500000,99.481486,207.730749,3.913871,4.100537,3.475916
std,8638.459064,235.924373,400.040860,1.740303,1.816807,2.054673
min,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,7480.750000,-1.000000,19.000000,4.370000,4.760000,0.000000
50%,14961.500000,1.000000,68.000000,4.680000,4.910000,4.640000
75%,22442.250000,30.000000,169.000000,4.820000,5.000000,4.800000
max,29923.000000,1352.000000,2285.000000,5.000000,5.000000,5.000000

注意到一个有意思的现象，这几个的空值都是一致的。
```
wm_poi_name                    1524
primary_second_tag_name        1524
primary_third_tag_name         1524
primary_first_tag_name         1524
aor_id                         1524
```

In [124]:
pois.loc[pois.wm_poi_name.isna()].count()

wm_poi_id                     1523
wm_poi_name                      0
primary_second_tag_name          0
primary_third_tag_name           0
primary_first_tag_name           0
poi_brand_id                  1523
aor_id                           0
poi_score                        0
delivery_comment_avg_score       0
food_comment_avg_score           0
dtype: int64

In [125]:
pois.loc[pois.wm_poi_name.isna()].head()

,wm_poi_id,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
4647,4647.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
4656,4656.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
4659,4659.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
4660,4660.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
4662,4662.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN

这个说明所有没有名字的商家这些所有分数都是空的，可能是无效商家。这里建立一个它们的poi_id方便查阅后面是否有人在这些商家中买过东西。

In [126]:
pois.shape

(29924, 10)

In [127]:
null_pois=set(pois.loc[pois.wm_poi_name.isna()]["wm_poi_id"])
print(len(null_pois))
#为了方便分析去掉这些空商家
pois.drop(index=pois.loc[pois.wm_poi_name.isna()].index,inplace=True)

1523

In [128]:
pois.loc[pois["poi_score"].isna()]

,wm_poi_id,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
169,169.0,e91057-e91057-bb1534-ac1915-ca861-921507-1a278...,5,16,0,1.0,8.0,NaN,NaN,NaN
339,339.0,1c1140-0548-a12982-9e2508-5b2605-bb1073-934253...,14,未知,1,1.0,8.0,NaN,NaN,NaN
517,517.0,5e2642-d2176-072548-441623-952431-af38-b01235-...,5,16,0,1.0,5.0,NaN,NaN,NaN
703,703.0,242306-313920-ae3347-08281-f6169-d82402,2,9,0,1.0,8.0,NaN,NaN,NaN
717,717.0,533719-a4877-503519-934253-152609-ac1915-f5300...,14,未知,1,1.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
29907,29907.0,423774-a34234-8c660-752587-733154-ac1915-82255...,35,未知,7,-1.0,79.0,NaN,NaN,NaN
29908,29908.0,a21409-2a3910-772036-c93436-a61030-461031-da3326,2,4,0,-1.0,2283.0,NaN,NaN,NaN
29912,29912.0,a9518-e71036-6d3546-aa25-b1239-a34031-354111-3...,1,未知,1,1.0,71.0,NaN,NaN,NaN
29913,29913.0,f81995-ae620-e11431-892342-ac1915-3d3353-9a366...,9,未知,1,-1.0,0.0,NaN,NaN,NaN
29923,29923.0,fd99-b1239-382969-df2353-c63911-921670-ae622-b...,7,未知,2,-1.0,2285.0,NaN,NaN,NaN

In [129]:
def for_print(x):
    try:
        int(x)
    except:
        return x
    else:
        return None
pois[["primary_second_tag_name","primary_third_tag_name","primary_first_tag_name"]].applymap(for_print).apply(pd.unique)

  primary_second_tag_name primary_third_tag_name primary_first_tag_name
0                    None                   None                   None
1                      未知                     未知                     未知

这里看到一个很有意思的现象，"primary_second_tag_name","primary_third_tag_name","primary_first_tag_name"三个值不是空叫未知。

有些商家并没有评分。可能是新店。
给它们加一列标志出来。为了方便处理将所有这类店的评分补成最低分。

In [130]:
def sign_for_no_score(x):
    return 1 if pd.isna(x) else 0
pois["is_null"]=pois["poi_score"].map(sign_for_no_score)

In [131]:
for col in ["poi_score","delivery_comment_avg_score","food_comment_avg_score"]:
    pois[col].fillna(value=0,inplace=True)

In [132]:
pois.isna().sum()

wm_poi_id                     0
wm_poi_name                   0
primary_second_tag_name       0
primary_third_tag_name        0
primary_first_tag_name        0
poi_brand_id                  0
aor_id                        0
poi_score                     0
delivery_comment_avg_score    0
food_comment_avg_score        0
is_null                       0
dtype: int64

空值处理完成。

# 菜品处理

In [133]:
spus.head()

,wm_food_spu_id,wm_food_spu_name,price,category,ingredients,taste,stand_food_id,stand_food_name
0,0,833366-bf3929-254096,26.0,[0],"[0, 1, 2]",[0],0.0,833366-bf3929-254096
1,1,032521-a0772-3f3352,20.0,[1],"[3, 1]",[1],1.0,032521-a0772-3f3352
2,2,952431-c52358-c22123-7f760-832660-fe1862,18.0,[2],"[3, 1, 4, 5, 6, 7]",[2],2.0,952431-c52358-c22123-7f760-832660
3,3,e84149-6b1215-ca2776-441372-b5649-ac1915-f4338...,10.0,[3],"[8, 9]",[0],3.0,e84149-6b1215-ca2776-441372
4,4,6b1215-c9725-862243-102951-1f1116,3.58,[4],NaN,NaN,NaN,NaN

In [134]:
spus.groupby("wm_food_spu_name").count()

,wm_food_spu_id,price,category,ingredients,taste,stand_food_id,stand_food_name
wm_food_spu_name,,,,,,,
001573-0d1248-f81995-7b3000-ca2776-e24016-fe1905-001573-0d1248-f81995-69458-952779-c52358-e24016-fe1905-492276-461622-3f3352,1,1,1,1,0,0,0
001573-0d1248-f81995-952431-273904-e24016-fe1905-001573-0d1248-f81995-3e439-1a2204-e24016-fe1905-f53582-581804-291145-ea4014-bb1073,1,1,1,1,0,0,0
001573-0d1248-f81995-952431-273904-e24016-fe1905-ff1797-b02457-4e2941-053997-002791-752878,1,1,1,1,0,0,0
001573-0d1248-f81995-f53582-ee245-952431-b01235-e24016-ac1915-ec555-1f1116-4b1465,1,1,1,0,1,1,1
001573-14244-e91936-bf1971,6,6,6,0,4,0,0
...,...,...,...,...,...,...,...
ff88-ed2459-321201-c42819-97564-7f760-952431-273904-b01235-e53235-b71967-9e3533-482396-ac1915-e13049-362686-c62039-88996-611016-c9725-254096-d34075-4b1465-9c3536-d21564,1,1,1,1,0,0,0
ff88-f52772-202191-62745-c3430-984171-ac1915-a73166-9e1412-e1212-3c2046-4b1465,1,1,1,1,0,0,0
ff88-f52772-202191-ad1006-fa1918-1e3493-952431-582862-ac1915-31159-611016-c9725-254096-4b1465,1,1,1,1,1,1,1
ff88-ff88-ff88-0e3522-b01235-36912,2,2,2,0,0,0,0
ff88-ff88-ff88-ff88-2b1184-871761-13625-524034-031007-39641,1,1,1,0,0,0,0

菜品名字有相同，说明多个店铺可能有相同菜名。

In [135]:
spus.isna().sum()

wm_food_spu_id           0
wm_food_spu_name      7506
price                    6
category              9281
ingredients          78642
taste               129495
stand_food_id        91750
stand_food_name      91768
dtype: int64

In [136]:
spu_no_name_ids=spus.loc[spus["wm_food_spu_name"].isna()]["wm_food_spu_id"]

In [137]:
spus.loc[spus["wm_food_spu_name"].isna()].isna().sum()

wm_food_spu_id         0
wm_food_spu_name    7506
price                  1
category            7506
ingredients         7506
taste               7506
stand_food_id       7505
stand_food_name     7506
dtype: int64

In [138]:
spu_no_name_ids=spus.loc[spus["price"].isna()]["wm_food_spu_id"]

现在单独来分析下这部分数据在订单中有没有被人买过.

In [139]:
all_used_poi=set(poi_train["wm_poi_id"].tolist())
all_used_spu=set(spu_train["wm_food_spu_id"].tolist())
count=0
for i in spu_no_name_ids:
    if i in all_used_spu:
        count+=1
print(count)
print("below is spu\n------\nnow is poi:")
for i in null_pois:
    if i in all_used_poi:
        print(str(i)+" ")

6
below is spu
------
now is poi:

```
wm_food_spu_id	wm_food_spu_name	price	category	ingredients	taste	stand_food_id	stand_food_name
```
以上是菜品的信息，其它特征不好处理目前只保留价格和id，并且价格中的空值用平均值填补。价格中有个奇怪的地方,有几个菜品价格放错了。

In [140]:
lajidongxi=[]
for j,i in enumerate(spus["price"]):
    try:
        float(i)
    except:
        lajidongxi.append(j)
spus.iloc[lajidongxi,:]

,wm_food_spu_id,wm_food_spu_name,price,category,ingredients,taste,stand_food_id,stand_food_name
4276,4276,b63994-181136-62745-621385,"[""芥末"",""酱油"",""三文鱼"",""北极贝""]",[267],[553],[41],1520.0,NaN
7723,7723,f53921-974186-5f1012-c72464,"[""香油"",""盐"",""醋"",""里脊"",""淀粉"",""料酒"",""酱油""]",NaN,[642],[41],1520.0,NaN
17167,17167,f0118-1e3493-d41611-ca861-57325-921507-4e2941-...,"[""金枪鱼""]",[267],[642],[45],1520.0,NaN
17638,17638,001573-b3305-502832-7c693-49263-6b2866-6b2866-...,"[""甜味""]",[311],[642],[41],1520.0,NaN
92178,92178,ac1915-783954-4b1465-5b526-5b526-1d2891-a4404-...,"[""核桃""]",NaN,NaN,NaN,1520.0,NaN
124005,124005,47682-d44105-9e3533-b01235-be2234,"[""洋葱"",""料酒"",""红椒"",""孜然""]",NaN,NaN,NaN,1520.0,NaN
134805,134805,f53921-974186-5f1012-c72464,"[""香油"",""盐"",""醋"",""里脊"",""淀粉"",""料酒"",""酱油""]",NaN,[642],[41],1520.0,NaN
135264,135264,47682-d44105-9e3533-b01235-be2234,"[""洋葱"",""料酒"",""红椒"",""孜然""]",NaN,NaN,NaN,1520.0,NaN
140209,140209,251180-863514-e11431-e24016,"[""咖啡"",""奶酪"",""奶油"",""细砂糖""]",[357],[642],[41],1520.0,NaN
142431,142431,4b519-cf981-4b519-92207-62745-c9725-cf3692-136...,"[""小米""]",[267],[642],[41],1520.0,NaN
179781,179781,f6496-204059-3439-8e1084,"[""香菜"",""肠""]",[369],[642],[41],1520.0,NaN
185244,185244,f0118-1e3493-0f2937-4e899-c7714-951606-921507-...,"[""三文鱼""]",[267],[1082],[41],1520.0,NaN

In [141]:


nsum=0
count=0
for i in spus["price"]:
    try:
        float(i)
    except:
        pass
    else:
        nsum+=float(i)
        count+=1
avg=nsum/count
spus["price"].fillna(avg,inplace=True)
for i in lajidongxi:
    spus.loc[i,"price"]=avg
spus["price"]=spus["price"].astype("float")

In [142]:
spus.loc[spus["price"].isna()]

,wm_food_spu_id,wm_food_spu_name,price,category,ingredients,taste,stand_food_id,stand_food_name
4276,4276,b63994-181136-62745-621385,NaN,[267],[553],[41],1520.0,NaN
7723,7723,f53921-974186-5f1012-c72464,NaN,NaN,[642],[41],1520.0,NaN
17167,17167,f0118-1e3493-d41611-ca861-57325-921507-4e2941-...,NaN,[267],[642],[45],1520.0,NaN
17638,17638,001573-b3305-502832-7c693-49263-6b2866-6b2866-...,NaN,[311],[642],[41],1520.0,NaN
19595,19595,f0118-1e3493-934253-7b3000-cd2028-a61030-4e294...,NaN,NaN,NaN,NaN,1520.0,NaN
29400,29400,d24190-393429-14244-561292-2f3129-c11501-9c353...,NaN,NaN,NaN,NaN,1520.0,NaN
63095,63095,NaN,NaN,NaN,NaN,NaN,1520.0,NaN
92178,92178,ac1915-783954-4b1465-5b526-5b526-1d2891-a4404-...,NaN,NaN,NaN,NaN,1520.0,NaN
103740,103740,bb1073-d53544-b5649-ac1915-9e1412-1f1116-4b1465,NaN,NaN,NaN,NaN,1520.0,NaN
105559,105559,f0118-1e3493-743101-952431-b01235-4e2941-05399...,NaN,[267],[642],[41],1520.0,NaN
124005,124005,47682-d44105-9e3533-b01235-be2234,NaN,NaN,NaN,NaN,1520.0,NaN
134805,134805,f53921-974186-5f1012-c72464,NaN,NaN,[642],[41],1520.0,NaN
135264,135264,47682-d44105-9e3533-b01235-be2234,NaN,NaN,NaN,NaN,1520.0,NaN
140209,140209,251180-863514-e11431-e24016,NaN,[357],[642],[41],1520.0,NaN
142270,142270,d24190-393429-14244-561292-2f3129-c11501-9c353...,NaN,NaN,NaN,NaN,1520.0,NaN
142431,142431,4b519-cf981-4b519-92207-62745-c9725-cf3692-136...,NaN,[267],[642],[41],1520.0,NaN
179781,179781,f6496-204059-3439-8e1084,NaN,[369],[642],[41],1520.0,NaN
185244,185244,f0118-1e3493-0f2937-4e899-c7714-951606-921507-...,NaN,[267],[1082],[41],1520.0,NaN

In [143]:
spus[["wm_food_spu_id","price"]]

        wm_food_spu_id  price
0                    0  26.00
1                    1  20.00
2                    2  18.00
3                    3  10.00
4                    4   3.58
...                ...    ...
195239          195239  19.00
195240          195240   8.90
195241          195241  42.00
195242          195242   3.00
195243          195243  58.00

[195244 rows x 2 columns]

# 菜品和商家联合处理成商家特征

## 商铺特色菜品
商铺中售出最受欢迎的前3个菜品
菜品spu跟orders_spu_tain on wm_food_spu_id, 然后on wm_order_id跟orders_train,然后on wm_poi_id跟pois

按商家分类，然后按菜品分类，查看菜品订单有几个.

In [144]:
all_table=pd.merge(pd.merge(pd.merge(spu_train,spus,on="wm_food_spu_id"),poi_train,on="wm_order_id"),pois,on="wm_poi_id")

In [145]:
all_table.head()

,wm_order_id,wm_food_spu_id,dt_x,wm_food_spu_name,price,category,ingredients,taste,stand_food_id,stand_food_name,...,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id_y,poi_score,delivery_comment_avg_score,food_comment_avg_score,is_null
0,10543,159611,20210607,87237-2d165-561292-08857-3f3352-3f3352-302095-...,1.88,[116],NaN,[4],NaN,NaN,...,842893-791694-14244-561292-2f3129-ac1915-f5300...,0,10,0,14.0,7.0,4.51,4.89,4.57,0
1,10543,160913,20210607,ab3097-ae1935-9c3536-d21564,32.80,[40],NaN,NaN,NaN,NaN,...,842893-791694-14244-561292-2f3129-ac1915-f5300...,0,10,0,14.0,7.0,4.51,4.89,4.57,0
2,10543,187248,20210607,ac1915-783954-162486-4b1465-072795-f8226-ac191...,4.58,[176],NaN,[1],2614.0,072795-f8226,...,842893-791694-14244-561292-2f3129-ac1915-f5300...,0,10,0,14.0,7.0,4.51,4.89,4.57,0
3,34899,159611,20210607,87237-2d165-561292-08857-3f3352-3f3352-302095-...,1.88,[116],NaN,[4],NaN,NaN,...,842893-791694-14244-561292-2f3129-ac1915-f5300...,0,10,0,14.0,7.0,4.51,4.89,4.57,0
4,34899,117109,20210607,001573-e91936-984171-ac1915-9e1412-1f1116-4b1465,4.58,[5],NaN,NaN,NaN,NaN,...,842893-791694-14244-561292-2f3129-ac1915-f5300...,0,10,0,14.0,7.0,4.51,4.89,4.57,0

In [146]:
special_spu=all_table.groupby(["wm_poi_id","wm_food_spu_id"]).count()["wm_order_id"].reset_index()

In [147]:
special_spu

        wm_poi_id  wm_food_spu_id  wm_order_id
0               0            1105            1
1               0            3587            1
2               0            8129            8
3               0            8362            3
4               0            9690           34
...           ...             ...          ...
182748       3576          139961            1
182749       3576          154459            1
182750       3576          164722            1
182751       3576          170004            2
182752       3576          184696            1

[182753 rows x 3 columns]

In [148]:
# special_spu.hist(column=)

In [149]:
special_spu.quantile(0.9)

wm_poi_id           3219.0
wm_food_spu_id    175743.8
wm_order_id           41.0
Name: 0.9, dtype: float64

In [150]:
special_spu.loc[special_spu["wm_poi_id"]==0].sort_values('wm_order_id',ascending=False)

    wm_poi_id  wm_food_spu_id  wm_order_id
81          0          159409           79
12          0           24821           65
83          0          169512           58
35          0           68258           53
91          0          190495           52
..        ...             ...          ...
54          0          102007            1
40          0           81072            1
48          0           98600            1
1           0            3587            1
0           0            1105            1

[93 rows x 3 columns]

In [151]:
K=3
spe_spu=special_spu.groupby("wm_poi_id").apply(lambda x:x.sort_values('wm_order_id',ascending=False)['wm_food_spu_id'].head(K).values)

In [152]:
spe_spu

wm_poi_id
0       [159409, 24821, 169512]
1       [32717, 129549, 121022]
2         [94721, 48478, 32729]
3        [110132, 116759, 1421]
4         [36051, 120427, 8999]
                 ...
3572      [138417, 9866, 94333]
3573    [90308, 138420, 140208]
3574      [1615, 63990, 111658]
3575      [16985, 69249, 29251]
3576     [4406, 170004, 137616]
Length: 3526, dtype: object

In [153]:
spus.loc[spus["price"].isna()]

,wm_food_spu_id,wm_food_spu_name,price,category,ingredients,taste,stand_food_id,stand_food_name
4276,4276,b63994-181136-62745-621385,NaN,[267],[553],[41],1520.0,NaN
7723,7723,f53921-974186-5f1012-c72464,NaN,NaN,[642],[41],1520.0,NaN
17167,17167,f0118-1e3493-d41611-ca861-57325-921507-4e2941-...,NaN,[267],[642],[45],1520.0,NaN
17638,17638,001573-b3305-502832-7c693-49263-6b2866-6b2866-...,NaN,[311],[642],[41],1520.0,NaN
19595,19595,f0118-1e3493-934253-7b3000-cd2028-a61030-4e294...,NaN,NaN,NaN,NaN,1520.0,NaN
29400,29400,d24190-393429-14244-561292-2f3129-c11501-9c353...,NaN,NaN,NaN,NaN,1520.0,NaN
63095,63095,NaN,NaN,NaN,NaN,NaN,1520.0,NaN
92178,92178,ac1915-783954-4b1465-5b526-5b526-1d2891-a4404-...,NaN,NaN,NaN,NaN,1520.0,NaN
103740,103740,bb1073-d53544-b5649-ac1915-9e1412-1f1116-4b1465,NaN,NaN,NaN,NaN,1520.0,NaN
105559,105559,f0118-1e3493-743101-952431-b01235-4e2941-05399...,NaN,[267],[642],[41],1520.0,NaN
124005,124005,47682-d44105-9e3533-b01235-be2234,NaN,NaN,NaN,NaN,1520.0,NaN
134805,134805,f53921-974186-5f1012-c72464,NaN,NaN,[642],[41],1520.0,NaN
135264,135264,47682-d44105-9e3533-b01235-be2234,NaN,NaN,NaN,NaN,1520.0,NaN
140209,140209,251180-863514-e11431-e24016,NaN,[357],[642],[41],1520.0,NaN
142270,142270,d24190-393429-14244-561292-2f3129-c11501-9c353...,NaN,NaN,NaN,NaN,1520.0,NaN
142431,142431,4b519-cf981-4b519-92207-62745-c9725-cf3692-136...,NaN,[267],[642],[41],1520.0,NaN
179781,179781,f6496-204059-3439-8e1084,NaN,[369],[642],[41],1520.0,NaN
185244,185244,f0118-1e3493-0f2937-4e899-c7714-951606-921507-...,NaN,[267],[1082],[41],1520.0,NaN

## 商家菜品数量，热门菜数量

In [154]:
pois_order_spus_table=pd.merge(spu_train,poi_train,on="wm_order_id")

In [155]:
pois_order_spus_table.head()

,wm_order_id,wm_food_spu_id,dt_x,user_id,wm_poi_id,aor_id,order_price_interval,order_timestamp,ord_period_name,order_scene_name,aoi_id,takedlvr_aoi_type_name,dt_y
0,10543,159611,20210607,78126,1865,0,<29,1623067261,3,6,280.0,0,20210607
1,10543,160913,20210607,78126,1865,0,<29,1623067261,3,6,280.0,0,20210607
2,10543,187248,20210607,78126,1865,0,<29,1623067261,3,6,280.0,0,20210607
3,34244,148124,20210607,188443,1934,5,"[49,65)",1623072314,4,6,NaN,未知,20210607
4,34244,88313,20210607,188443,1934,5,"[49,65)",1623072314,4,6,NaN,未知,20210607

In [179]:
poi_spus_num=pois_order_spus_table.groupby("wm_poi_id").count()["wm_food_spu_id"]

In [180]:
poi_spus_num=poi_spus_num.reset_index()

In [183]:
poi_spus_num.rename(columns={0: 'item_time_list'})

      wm_poi_id  wm_food_spu_id
0             0            1181
1             1             571
2             2             301
3             3            1797
4             4            2787
...         ...             ...
3521       3572              38
3522       3573             370
3523       3574               6
3524       3575             474
3525       3576              11

[3526 rows x 2 columns]

In [181]:
poi_spus_num.columns

Index(['wm_poi_id', 'wm_food_spu_id'], dtype='object')

In [158]:
poi_spus_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wm_poi_id       3526 non-null   int64
 1   wm_food_spu_id  3526 non-null   int64
dtypes: int64(2)
memory usage: 55.2 KB

In [159]:
poi_spus_num.columns=["wm_poi_id","num_spus"]

In [160]:
poi_spus_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   wm_poi_id  3526 non-null   int64
 1   num_spus   3526 non-null   int64
dtypes: int64(2)
memory usage: 55.2 KB

In [161]:
pois.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28401 entries, 0 to 29923
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   wm_poi_id                   28401 non-null  float64
 1   wm_poi_name                 28401 non-null  object
 2   primary_second_tag_name     28401 non-null  object
 3   primary_third_tag_name      28401 non-null  object
 4   primary_first_tag_name      28401 non-null  object
 5   poi_brand_id                28401 non-null  float64
 6   aor_id                      28401 non-null  float64
 7   poi_score                   28401 non-null  float64
 8   delivery_comment_avg_score  28401 non-null  float64
 9   food_comment_avg_score      28401 non-null  float64
 10  is_null                     28401 non-null  int64
dtypes: float64(6), int64(1), object(4)
memory usage: 2.6+ MB

In [162]:
pois=pd.merge(poi_spus_num,pois,on="wm_poi_id",how="right")

In [163]:
pois.num_spus.fillna(0,inplace=True)

In [164]:
pois

,wm_poi_id,num_spus,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score,is_null
0,0,1181.0,e22575-9c1285-8a1981-ac1915-581787-893564-2915...,0,0,0,0.0,10.0,4.84,5.00,4.86,0
1,1,571.0,c91218-f02326-163545-bf1971-49263-952431-78332...,0,0,0,1.0,7.0,4.67,4.81,4.68,0
2,2,301.0,1e3493-15577-c93436-ac1915-ca2776-29510-32594-...,1,未知,1,2.0,6.0,4.82,5.00,5.00,0
3,3,1797.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,7.0,4.83,4.96,4.84,0
4,4,2787.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,5.0,4.91,5.00,4.93,0
...,...,...,...,...,...,...,...,...,...,...,...,...
28396,29913,0.0,f81995-ae620-e11431-892342-ac1915-3d3353-9a366...,9,未知,1,-1.0,0.0,0.00,0.00,0.00,1
28397,29914,0.0,744239-ab3167-e21455-b01148-f8226,0,55,0,1.0,302.0,0.00,0.00,0.00,0
28398,29916,0.0,d34075-302128-302128-9e1412-5b409-ca2282-37306...,0,22,0,-1.0,2284.0,0.00,0.00,0.00,0
28399,29922,0.0,651478-162486-4e2941-852186,2,4,0,1.0,69.0,4.49,4.79,4.51,0
28400,29923,0.0,fd99-b1239-382969-df2353-c63911-921670-ae622-b...,7,未知,2,-1.0,2285.0,0.00,0.00,0.00,1

In [165]:
spe_threshold=10
poi_spe_spus_num=pois_order_spus_table.groupby("wm_poi_id").apply(lambda x:x['wm_order_id']>spe_threshold).groupby("wm_poi_id").sum()

In [166]:
poi_spe_spus_num.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3566, 3567, 3568, 3569, 3570, 3572, 3573, 3574, 3575, 3576],
           dtype='int64', name='wm_poi_id', length=3526)

In [167]:

pois["spe_spus"]=poi_spe_spus_num

In [168]:
pois.spe_spus.fillna(0,inplace=True)

## POI 的热度

In [169]:
poi_order=all_table[['wm_order_id','wm_poi_id']].groupby("wm_poi_id").count()

In [170]:
pois["POI"]=poi_order

In [171]:
pois["POI"].fillna(0,inplace=True)

In [172]:
pois

,wm_poi_id,num_spus,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score,is_null,spe_spus,POI
0,0,1181.0,e22575-9c1285-8a1981-ac1915-581787-893564-2915...,0,0,0,0.0,10.0,4.84,5.00,4.86,0,1181.0,1181.0
1,1,571.0,c91218-f02326-163545-bf1971-49263-952431-78332...,0,0,0,1.0,7.0,4.67,4.81,4.68,0,571.0,571.0
2,2,301.0,1e3493-15577-c93436-ac1915-ca2776-29510-32594-...,1,未知,1,2.0,6.0,4.82,5.00,5.00,0,301.0,301.0
3,3,1797.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,7.0,4.83,4.96,4.84,0,1797.0,1797.0
4,4,2787.0,1e1273-e22575-002791-a71384-583180-803484-ac19...,0,0,0,3.0,5.0,4.91,5.00,4.93,0,2787.0,2787.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28396,29913,0.0,f81995-ae620-e11431-892342-ac1915-3d3353-9a366...,9,未知,1,-1.0,0.0,0.00,0.00,0.00,1,0.0,0.0
28397,29914,0.0,744239-ab3167-e21455-b01148-f8226,0,55,0,1.0,302.0,0.00,0.00,0.00,0,0.0,0.0
28398,29916,0.0,d34075-302128-302128-9e1412-5b409-ca2282-37306...,0,22,0,-1.0,2284.0,0.00,0.00,0.00,0,0.0,0.0
28399,29922,0.0,651478-162486-4e2941-852186,2,4,0,1.0,69.0,4.49,4.79,4.51,0,0.0,0.0
28400,29923,0.0,fd99-b1239-382969-df2353-c63911-921670-ae622-b...,7,未知,2,-1.0,2285.0,0.00,0.00,0.00,1,0.0,0.0

In [176]:
list(pois.wm_poi_id)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

# 存储

In [174]:

savepath = "../data/processed/"
if not os.path.exists(savepath):
    os.makedirs(savepath)
pois.to_json(savepath+"processed_pois.json")